<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">

</head>
<body class="d-flex flex-column justify-content-center align-items-center ">
    <form class="p-5 col-sm-9 col-lg-7 col-xl-5 d-flex flex-column justify-content-center " id="form"  action="/index" method="POST" enctype="multipart/form-data" style="background-color: lightblue;  overflow: hidden;" onsubmit="alert('Your response has been recorded.Do not submit again')" >
        <div class="m-2"  >
            Name <br>
            <input type="text" placeholder="Enter Name"  name="name" id="name" style="width: 100%;" required>
        </div>
        <div class="m-2">
            Region
            <input type="text" name="place" id="place" placeholder="Enter Region Name" style="width: 100%;" required>
        </div>
        <div class="form-group m-2">
            <label for="exampleFormControlSelect1">State</label>
            <select name="state" id="state" style="width: 100%;"> 
                <option value="Maharashtra">Maharashtra</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhatisgarh">Chhatisgarh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Haryana">Haryana</option>
                <option value="Telangana">Telangana</option>
                <option value="Gujrat">Gujrat</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Delhi">Delhi</option>
                <option value="Punjab">Punjab</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Odisha">Odisha</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="Kerala">Kerala</option>
                <option value="Assam">Assam</option>
                <option value="Bengal">Bengal</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Goa">Goa</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tripura">Tripura</option>
        </select> 
        </div>
        <div class="form-group m-2">
            <label for="exampleFormControlSelect1">Branch</label>
            <select name="branch" id="branch" style="width: 100%;"  > 
                <option value="Mathematics and Computing">Mathematics and Computing Engineering</option>
                <option value="Computer Science">Computer Science Engineering</option>
                <option value="Electronics and Communication">Electronics and Communication Engineering</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
                <option value="Mining Engineering">Mining Engineering</option>
                <option value="Petroleum Engineering">Petroleum Engineering</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
                <option value="Mining Machinery">Mining Machinery Engineering</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Engineering Physics">Engineering Physics</option>
                <option value="Environmental Engineering">Environmental Engineering</option>
                <option value="Mineral Engineering">Mineral Engineering</option>
                <option value="Applied Geology">Applied Geology</option>
                <option value="Applied Geophysics">Applied Geophysics</option>
            </select>
        </div>
        <div class="form-group m-2">
            <label for="exampleFormControlSelect1">Clubs</label>
            <select name="club" id="club" style="width: 100%;"  > 
                <option value="None">None</option>
                <option value="ARKA">ARKA</option>
                <option value="E-Cell">E-Cell</option>
                <option value="Cyber labs">Cyber labs</option>
                <option value="RoboISM">RoboISM</option>
                <option value="Mailer Daemon">Mailer Daemon</option>
                <option value="Udaan">Udaan</option>
                <option value="LITM">LITM</option>
                <option value="LITC">LITC</option>
                <option value="WTC">WTC</option>
                <option value="ADC">ADC</option>
                <option value="LCI">LCI</option>
                <option value="AISEC">AISEC</option>
                <option value="Chayanika">Chayanika</option>
                <option value="Quiz Club">Quiz Club</option>
                <option value="Artfreaks">Artfreaks</option>
                <option value="Manthan">Manthan</option>
                <option value="Fotofreaks">Fotofreaks</option>
                <option value="FFI">FFI</option>
                <option value="Kartavya">Kartavya</option>
                <option value="Black Knight chess club">Black Knight chess club</option>
                <option value="Rythm">Rythm</option>
                <option value="Toastmaster">Toastmaster</option>
                <option value="Sports">Sports</option>
                <option value="Book Club">Book Club</option>
            </select>
        </div>      
        <div class="m-2">
            Internship<br>
            <input type="text" name="intern" id="intern" placeholder="Enter Firm Name" style="width: 100%;" >
        </div>
        <div class="m-2">
            Placed
            <input type="text" name="placed" id="placed" placeholder="Enter Firm Name" style="width: 100%;" >
        </div>
        <div class="form-group m-2">
            <label for="exampleFormControlSelect1">Year</label>
            <select name="year" id="year" style="width: 100%;"  > 
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option> 
                <option value="2016">2016</option>
                <option value="2015">2015</option>
              </select>
        </div>
        <div class="form-group m-2">
            <label for="exampleFormControlFile1">Image</label>
            <input type="file" name="image" id="image" required>
            <div id="progress">Img must be less than 1.3mb</div>
        </div> 
        <div >
                <button class="btn btn-primary"  style="width: 100%;" type="submit">Submit</button></a>
        </div>
        <div style="font-size: x-small;">
        Hello, ISMite! I want you to fill the above form, it's a data base of all the students of IIT ISM Dhanbad which I am going to use for my project, I assure you that none of the information that you give to me would be used for any malicious intent. I am sorry for the inconvenience,  and thank-you for your time
        </div>
        <span class="d-flex justify-content-center">&COPY; Saurabh Tiwari</span>  
        

    </form>  

<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-analytics.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-storage.js"></script> 

<script src="/app.js" ></script>

<script src="firebase.js" ></script>
</body>
</html>

