<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MnC_Family</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="main.css">    
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">

        <a class=" btn-outline-success mr-2" href="index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <div class="btn-group mr-2">
                <button type="button" class="btn  dropdown-toggle btn-outline-success " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Members
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#batch-2021-vis" id="batch-2021-nav">2016_Batch</a>
                <a class="dropdown-item" href="#batch-2022-vis" id="batch-2022-nav">2017_Batch</a>
                <a class="dropdown-item" href="#batch-2023-vis" id="batch-2023-nav">2018_Batch</a>
                <a class="dropdown-item" href="#batch-2024-vis" id="batch-2024-nav">2019_Batch</a>
                </div>
            </div>


            
            <div class="btn-group mr-2">
                <button type="button" class="btn  dropdown-toggle btn-outline-success " id="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#freshers-2018" id="freshers-2018-nav">Freshers-2018</a>
                </div>
            </div>

            <form class="form-inline my-2 my-lg-0  ml-auto  ">
                <button class="btn btn-outline-success my-2 my-sm-0" ><a href="/add" > Add</a> </button> 
            </form>
            
        </div>
</nav>

<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://ramadalucknow.com/wp-content/uploads/2017/11/Exploring-Spiritual-Tourism-in-India-The-Uttar-Pradesh-Sojourn.jpg);    height: 50vh; object-fit: stretch; height: 100vh; background-size: cover; " >
        <div class="container text-center">
          <h1 class="display-4"  style="color: red; font-weight: 900; ">Lorem_Family</h1>
          <p class="lead  " style="color:yellow; font-size: 30px;  font-weight: 900; "  >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error doloremque aut harum tempora! Doloremque, minima?</p>
        </div>
</div>

<ul class="nav nav-tabs  " >
    <li class="nav-item  ml-auto mr-2 border " id="members" >
      <div class="nav-link active " id="member-active" href="#">Members</div>
    </li>
    <li class="nav-item mr-3 border border-active " id="events-Btn" >
        <div class="nav-link " id="event-active" href="#">Events</div>
    </li>
</ul>

<div id="batches">
    
    <div class="dropdown" id="batch2021">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;">
        2016-Batch
        </div>
    </div>
    <div class="d-none" id="batch-2021-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2016 -Batch</div> 
            <div class="container d-flex justify-content-around flex-column">
                <div class="row justify-content-around ">    
                                                  
                    <% params.forEach(function(sdt){ %>  
                        <% if(sdt.year == 2016 && sdt.branch == "Mathmatics and Computing"){ %>
                            <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                <div class="img-container">
                                    <img src="/<%= sdt.image %>" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body ">
                                    <p class="card-text">
                                        <div><%= sdt.name %></div>
                                        <div><%= sdt.place %> , <%= sdt.state %>< </div>
                                        <div><%= sdt.branch %> </div>
                                    </p>
                                    <div class="intern">Intern : <%= sdt.intern %><br>Placed : <%= sdt.placed %></div> </div>

                                    <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                            </div>
                        <% } %>
                    <% }) %>

                </div>  
            </div>
        </div>
    </div>
    <div class="dropdown" id="batch2022">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;" >
        2017-Batch
        </div>
    </div>
    <div class="d-none" id="batch-2022-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2017 -Batch</div> 
            <div class="container d-flex justify-content-around flex-column">
                <div class="row justify-content-around">    
                        
                           
                    <% params.forEach(function(sdt){ %>  
                        <% if(sdt.year == 2017 && sdt.branch == "Mathmatics and Computing"){ %>
                            <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                <div class="img-container">
                                    <img src="/<%= sdt.image %>" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body ">
                                    <p class="card-text">
                                        <div><%= sdt.name %></div>
                                        <div><%= sdt.place %> , <%= sdt.state %>< </div>
                                        <div><%= sdt.branch %> </div>
                                    </p>
                                    <div class="intern">Intern : <%= sdt.intern %><br>Placed : <%= sdt.placed %></div> </div>

                                    <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                            </div>
                        <% } %>
                    <% }) %>
                        
                        
                </div>  
            </div>
        </div>
    </div>
    <div class="dropdown" id="batch2023">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;" >
        2018-Batch
        </div>
    </div>
    <div class="d-none" id="batch-2023-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2018 -Batch</div> 
            <div class="container d-flex justify-content-around flex-column">
                <div class="row justify-content-around">    

                    <% params.forEach(function(sdt){ %>  
                        <% if(sdt.year == 2018 && sdt.branch == "Mathmatics and Computing"){ %>
                            <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                <div class="img-container">
                                    <img src="/<%= sdt.image %>" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body ">
                                    <p class="card-text">
                                        <div><%= sdt.name %></div>
                                        <div><%= sdt.place %> , <%= sdt.state %>< </div>
                                        <div><%= sdt.branch %> </div>
                                    </p>
                                    <div class="intern">Intern : <%= sdt.intern %><br>Placed : <%= sdt.placed %></div> </div>

                                    <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                            </div>
                        <% } %>
                    <% }) %>

                </div>  
            </div>
        </div>
    </div>
    <div class="dropdown" id="batch2024">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;" >
        2019-Batch
        </div>
    </div>
    <div class="" id="batch-2024-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2019-Batch</div> 
            <div class="container d-flex   flex-column">  
                <div class="row justify-content-around">    
                    <div class="card m-3" onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                        <% params.forEach(function(sdt){ %>  
                            <% if(sdt.year == 2019 && sdt.branch == "Mailer Daemon"){ %>
                                <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                    <div class="img-container">
                                        <img src="/<%= sdt.image %>" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body ">
                                        <p class="card-text">
                                            <div><%= sdt.name %></div>
                                            <div><%= sdt.place %> , <%= sdt.state %>< </div>
                                            <div><%= sdt.branch %> </div>
                                        </p>
                                        <div class="intern">Intern : <%= sdt.intern %><br>Placed : <%= sdt.placed %></div> </div>

                                        <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                                </div>
                            <% } %>
                        <% }) %>
                    </div>   
            </div>  
            </div>
        </div>
    </div>
</div>    
</div>
<div id="events" class="d-none" >
    
    <div  class=" d-flex flex-column align-items-center m-3 mb-4" id="freshers-2018">
        <img src="public/IMG_20201008_214032.jpg" class="img-fluid m-3" alt="Responsive image">
        General meetup
    </div>

</div>

<script type="text/javascript"  src="maharashtra.js"></script>

</body>
</html>  



